<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Age:</b>
  <%= @student.age %>
</p>

<p>
  <b>Phone:</b>
  <%= @student.phone %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<p>
  <b>City:</b>
  <%= @student.city %>
</p>

<p>
  <b>Country:</b>
  <%= @student.country %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
